//
   Created by yarel on 16/09/16.

form(class='form-signin', action='/suspect/delete_suspect', method='POST')
    input(type='text', name='id' class='form-control', placeholder='Suspect ID',required, autofocus)
    button(class='btn btn-lg btn-primary btn-block', type='submit') Delete
    span.clearfix
