//
   Created by yarel on 17/09/16.

form(class='form-signin', action='/user/delete_user_by_id', method='POST')
    input(type='text', name='id', class='form-control', placeholder='User ID',required, autofocus)

    button(class='btn btn-lg btn-primary btn-block', type='submit') Delete
    span.clearfix