//
   Created by yarel on 16/09/16.

form(class='form-signin', action='/suspect/find_suspect_by_name', method='POST')
    input(type='text', name='first_name', class='form-control', placeholder='First Name',required, autofocus)
    input(type='text', name='last_name', class='form-control nomargin', placeholder='Last Name', required)

    button(class='btn btn-lg btn-primary btn-block', type='submit') Find
    span.clearfix