//
   Created by yarel on 17/09/16.


form(class='form-signin', action='/suspect/find_suspect_by_id', method='POST')
    input(type='text', name='id', class='form-control', placeholder='Suspect ID',required, autofocus)

    button(class='btn btn-lg btn-primary btn-block', type='submit') Find
    span.clearfix