//
   Created by yarel on 17/09/16.

form(class='form-signin', action='/suspect/find_records_by_suspect', method='POST')
    input(type='text', name='mindate', class='form-control', placeholder='min date',required, autofocus)
    input(type='text', name='maxdate', class='form-control', placeholder='max date',required, autofocus)
    input(type='text', name='minheight', class='form-control', placeholder='Suspect height min',required, autofocus)
    input(type='text', name='maxheight', class='form-control', placeholder='Suspect height max',required, autofocus)
    input(type='text', name='crimetype', class='form-control', placeholder='Crime type',required, autofocus)
    button(class='btn btn-lg btn-primary btn-block', type='submit') Find
    span.clearfix
