//
   Created by yarel on 16/09/16.

extends layout

block content
    p Welcome #{user.username}!
    a(href= "user") List Users<br />
    a(href= "/suspect/find_suspects") Lookup Suspects<br />
    a(href= "/suspect/update_suspect_address") Update Suspects address<br />
    a(href= "/suspect/delete_suspect") Delete Suspect<br />
    a(href= "/suspect/insert_suspect") Insert Suspect<br />
    a(href= "/user/delete_user_by_id") Delete User by ID<br />
    a(href= "/suspect/find_records_by_suspect") Find records by suspect<br />
