

form(class='form-signin', action='/login', method='POST')
  input(type='text', name='username' class='form-control', placeholder='User Name',required, autofocus)
  input(type='password', name='password' class='form-control', placeholder='Password', required)
  button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
  span.clearfix