//
   Created by yarel on 16/09/16.


form(class='form-signin', action='/suspect/insert_suspect', method='POST')
    input(type='text', name='id', class='form-control', placeholder='Suspect ID',required, autofocus)
    input(type='text', name='first_name', class='form-control', placeholder='First Name',required, autofocus)
    input(type='text', name='last_name', class='form-control', placeholder='Last Name',required, autofocus)
    input(type='text', name='age', class='form-control', placeholder='Age',required, autofocus)
    input(type='text', name='weight', class='form-control', placeholder='Weight',required, autofocus)
    input(type='text', name='height', class='form-control', placeholder='Height',required, autofocus)
    input(type='text', name='city', class='form-control', placeholder='City',required, autofocus)
    input(type='text', name='street', class='form-control', placeholder='Street',required, autofocus)
    input(type='text', name='religion', class='form-control', placeholder='Religion',required, autofocus)
    input(type='text', name='smoke', class='form-control', placeholder='Smoke',required, autofocus)
    input(type='text', name='school', class='form-control', placeholder='School',required, autofocus)


    button(class='btn btn-lg btn-primary btn-block', type='submit') Insert
    span.clearfix