//
   Created by yarel on 16/09/16.

form(class='form-signin', action='/signup', method='POST')
    input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
    input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
    input(type='email', name='email', class='form-control', placeholder='Email',required)
    input(type='text', name='first_name', class='form-control', placeholder='First Name',required)
    input(type='text', name='last_name', class='form-control', placeholder='Last Name',required)
    input(type='text', name='work_place', class='form-control', placeholder='Work place',required)
    input(type='text', name='rank', class='form-control', placeholder='Rank',required)
    button(class='btn btn-lg btn-primary btn-block', type='submit') Register
    span.clearfix