//
   Created by yarel on 16/09/16.

extends layout

block content
    h3.
        Users
    ul
        each suspect, i in suspects
            li#user_list_item
                a() #{suspect.first_name} #{suspect.last_name}
