//
   Created by yarel on 16/09/16.

form(class='form-signin', action='/suspect/update_suspect_address', method='POST')
    input(type='text', name='id', class='form-control', placeholder='Suspect ID',required, autofocus)
    input(type='text', name='street', class='form-control', placeholder='Suspect Street',required, autofocus)
    input(type='text', name='city', class='form-control', placeholder='Suspect City',required, autofocus)

    button(class='btn btn-lg btn-primary btn-block', type='submit') Update
    span.clearfix