//
   Created by yarel on 15/09/16.

extends layout

block content
    h3.
        Users
    ul
        each user, i in users
            li#user_list_item
                a() #{user.first_name} #{user.last_name}
